:root {
  --primary-color: #ee6c4d;
  --txt-color: #293241;
  --bg-color: #f2f2f2;
  --bg-content: #fff;
  --nav-height: 70px;
  --primary-hover: rgba(238, 108, 77, 0.8);
  --btn-hover: rgba(210, 80, 50);
  --shadow: rgba(0, 0, 0, 0.1);
  --litepicker-button-prev-month-color-hover: #ee6c4d !important;
  --litepicker-button-next-month-color-hover: #ee6c4d !important;
  --litepicker-day-color-hover: #ee6c4d !important;
  --litepicker-is-today-color: #0251fc !important;
  --litepicker-is-in-range-color: #f7b3a2 !important;
  --litepicker-is-start-color-bg: #ee6c4d !important ;
  --litepicker-is-end-color-bg: #ee6c4d !important;
  --litepicker-button-apply-color-bg: #ee6c4d !important;
  --litepicker-button-reset-color-hover: #ee6c4d !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
input[type="text"]:disabled {
  background: #ffffff;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ccc;
  background-color: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
}

a {
  text-decoration: none;
  color: var(--txt-color);
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: var(--bg-color);
  color: var(--txt-color);
  padding-top: calc(var(--nav-height) + 30px);
  font-size: 16px;
}
.container {
  max-width: 1600px;
  margin: 27px 15% 0 15%;
}
.input {
  font: inherit;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--txt-color);
}
.input:hover {
  outline: none;
}
.box {
  width: 100%;
  border-radius: 10px;
  background-color: var(--bg-content);
  box-shadow: var(--shadow);
  padding: 15px;
  /* margin-bottom: 20px; */
}
input[type="text"]:disabled {
  background: #fff;
}
.box-fill {
  width: 100%;
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: var(--shadow);
  padding: 15px;
  cursor: pointer;
}
.box-fill:hover {
  background-color: var(--btn-hover);
}

/* input */
input[type="radio"] {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  outline: none;
  vertical-align: middle;
  margin: 0 0.4em 0.4em 0;
}

input[type="radio"]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}
input[type="radio"]:checked:before {
  background: var(--primary-color);
}

input[type="checkbox"] {
  height: 18px;
  width: 17px;
  vertical-align: middle;
  margin: 0 0.4em 0.4em 0;
  border: 2px solid var(--primary-color);
  -webkit-appearance: none;
  -webkit-transition: box-shadow 200ms;
}
input[type="checkbox"]:not(:disabled):hover {
  border-color: var(--primary-color);
}

input[type="checkbox"]:active:not(:disabled) {
  border-color: var(--primary-color);
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"]:checked {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 4px;
  margin-top: 1px;
}

@media only screen and (max-width: 1280px) {
  body {
    font-size: 14px;
  }
  .container {
    margin: 27px 5% 0 5%;
  }
}

@media only screen and (max-width: 850px) {
  body {
    font-size: 12px;
  }
}
