<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Booking</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/root.css" />
    <link rel="stylesheet" href="/styles/grid.css" />
    <link rel="stylesheet" href="/styles/booking.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
  </head>
  <body>
    <!-- top nav -->
    <div class="top-nav">
      <div class="container">
        <div class="nav">
          <div class="nav-content">
            <a href="" class="logo">Travel Booking</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end top nav -->
    <div class="container">
      <div class="row">
        <div class="col-7">
          <div class="booking-content-container">
            <div class="booking-content-heading">
              <div class="booking-content-heading__icons">
                <span
                  class="iconify"
                  data-icon="akar-icons:chevron-left"
                ></span>
              </div>
              <h1>Xác nhận và thanh toán</h1>
            </div>
            <div id="booking-trip" class="booking-content-wrapper">
              <div class="booking-content-wrapper--heading">
                Thông tin chuyến đi
              </div>
              <div class="booking-content-wrapper--block">
                <div class="booking-content-wrapper--block--left">
                  <label
                    for="booking-date"
                    class="booking-content-wrapper--block--left__heading"
                  >
                    Ngày
                  </label>
                  <input
                    type="text"
                    class="booking-content-wrapper--block--left__subheading"
                    id="booking-checkin"
                    value="25/11/2021 - 27/11/2021"
                    disabled
                  />
                </div>
                <div class="booking-content-wrapper--block--right">
                  <button class="booking-content-edit-date" href="">
                    Chỉnh sửa
                  </button>
                </div>
              </div>

              <div class="booking-content-wrapper--block">
                <div class="booking-content-wrapper--block--left">
                  <label
                    for="booking-guesss"
                    class="booking-content-wrapper--block--left__heading"
                  >
                    Khách
                  </label>
                  <input
                    type="text"
                    disabled
                    class="booking-content-wrapper--block--left__subheading"
                    id="booking-guess"
                    value="1 khách"
                  />
                </div>
                <div class="booking-content-wrapper--block--right">
                  <button class="booking-content-edit-guess" href="">
                    Chỉnh sửa
                  </button>
                </div>
              </div>

              <div id="booking-box-guests" class="booking-box-guests-container">
                <div class="booking-box-guests-number">
                  <div class="booking-box-guests-number-warning">
                    Vui lòng nhập tuổi trẻ em.
                  </div>

                  <div class="booking-box-guests-number-wrapper">
                    <div class="booking-box-guests__label">Người lớn</div>
                    <div class="booking-box-guests__btn">
                      <div class="booking-box-guests__btn-adult-sub">
                        <span
                          class="iconify booking-box-guests-icon"
                          data-icon="carbon:subtract-alt"
                        ></span>
                      </div>
                      <div
                        id="booking-box-guests__count--adult"
                        class="booking-box-guests__count--adult"
                      >
                        1
                      </div>
                      <div class="booking-box-guests__btn-adult-add">
                        <span
                          class="iconify booking-box-guests-icon"
                          data-icon="fluent:add-circle-24-regular"
                        ></span>
                      </div>
                    </div>
                  </div>
                  <div class="booking-box-guests-number-wrapper">
                    <div class="booking-box-guests__label">Trẻ em</div>
                    <div class="booking-box-guests__btn">
                      <div class="booking-box-guests__btn-child-sub">
                        <span
                          class="iconify booking-box-guests-icon"
                          data-icon="carbon:subtract-alt"
                        ></span>
                      </div>
                      <div
                        id="booking-box-guests__count--child"
                        class="booking-box-guests__count--child"
                      >
                        0
                      </div>
                      <div class="booking-box-guests__btn-child-add">
                        <span
                          class="iconify booking-box-guests-icon"
                          data-icon="fluent:add-circle-24-regular"
                        ></span>
                      </div>
                    </div>
                  </div>

                  <div class="booking-box-guests-number-wrapper__child">
                    <select
                      name="booking-child-age"
                      id="booking-box-guests-age-child"
                      class="booking-box-guests-age-child"
                    >
                      <option selected value="0">Dưới 1 tuổi</option>
                      <option value="1">1 tuổi</option>
                      <option value="2">2 tuổi</option>
                      <option value="3">3 tuổi</option>
                      <option value="4">4 tuổi</option>
                      <option value="5">5 tuổi</option>
                      <option value="6">6 tuổi</option>
                      <option value="7">7 tuổi</option>
                      <option value="8">8 tuổi</option>
                      <option value="9">9 tuổi</option>
                      <option value="10">10 tuổi</option>
                      <option value="11">11 tuổi</option>
                      <option value="12">12 tuổi</option>
                      <option value="13">13 tuổi</option>
                      <option value="14">14 tuổi</option>
                      <option value="15">15 tuổi</option>
                      <option value="16">16 tuổi</option>
                      <option value="17">17 tuổi</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="line-space"></div>
            <div id="booking-payment" class="booking-content-wrapper">
              <div class="booking-content-wrapper--heading">
                Phương thức thanh toán
              </div>
              <div class="booking-content-button-container">
                <button
                  id="booking-payment-transfer"
                  name="payment"
                  class="box-outline booking-payment-transfer active"
                >
                  <span
                    class="iconify"
                    data-icon="uil:transaction"
                    data-width="30"
                    data-height="30"
                  ></span>
                  <div class="booking-payment-select__text">Chuyển khoản</div>
                </button>
                <button
                  name="payment"
                  id="booking-payment-paypal"
                  class="box-outline booking-payment-paypal"
                >
                  <span class="iconify" data-icon="fontisto:paypal"></span>
                  <div class="booking-payment-select__text">Paypal</div>
                </button>
              </div>
              <div class="booking-transfer-container active">
                <p>
                  Hướng dẫn thanh toán sẽ được gửi tới
                  <strong>email</strong> của bạn. Vui lòng thanh toán trước
                  <strong>2 ngày sau thời gian đăng kí</strong>. Quá thời hạn
                  thanh toán trên, đơn phòng sẽ tự động bị hủy.
                </p>
              </div>
              <div class="booking-paypal-container">
                <div class="booking-paypal-heading">
                  Đăng nhập để sử dụng PayPal.
                </div>
                <a
                  href="https://www.paypal.com/uk/home"
                  class="booking-paypal-direct"
                >
                  <div class="booking-paypal-btn">
                    <span class="iconify" data-icon="uim:paypal"></span>
                    PayPal
                  </div>
                </a>
              </div>
            </div>

            <div class="line-space"></div>
            <div class="booking-content-wrapper">
              <div class="booking-content-wrapper--heading">Chính sách hủy</div>
              <div class="booking-canceled-wrapper">
                <ul>
                  <li>
                    Hủy trước 14:00 ngày 20 thg 11 để được hoàn lại 50% trừ đêm
                    đầu tiên và phí dịch vụ. <a href="">Tìm hiểu thêm</a>
                  </li>
                  <li>
                    Chính sách trường hợp bất khả kháng của chúng tôi không áp
                    dụng cho các trường hợp gián đoạn đi lại do COVID-19 gây ra.
                    <a href="">Tìm hiểu thêm</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="line-space"></div>
            <div class="booking-content-wrapper">
              <div class="booking-term">
                Bằng việc chọn nút bên dưới, tôi đồng ý với
                <a href=""> Nội quy nhà của Chủ nhà </a> ,
                <a href=""
                  >Các yêu cầu về an toàn trong đại dịch COVID-19 của Airbnb</a
                >
                và <a href=""> Chính sách hoàn tiền cho khách.</a>
              </div>
            </div>
            <div class="booking-content-wrapper">
              <button class="booking-btn-pay">Xác nhận & thanh toán</button>
            </div>
          </div>
        </div>
        <div class="col-5 booking-move-container">
          <div class="booking-move-wrapper">
            <div class="booking-move-heading-wrapper">
              <div class="booking-move-heading__image">
                <img src="/images/bigsize.jpg" alt="" />
              </div>
              <div class="booking-move-heading__content">
                <span class="booking-move-heading__content-heading"
                  >Room in boutique hotel in Thành phố Đà Lạt</span
                >
                <div class="booking-move-heading__content-subheading">
                  <span>Áp mái view thung lũng đồi</span>
                  <span>1 phòng ngủ · 1 phòng tắm</span>
                </div>
                <div class="booking-move-heading__content-footer">
                  <div class="booking-move-heading__content-footer-left">
                    <span
                      class="iconify booking-subheading--star"
                      data-icon="bx:bxs-star"
                      style="color: #ee6c4d"
                    ></span>
                    <div class="booking-rating">
                      <strong> 9/10 </strong>
                      (50 đánh giá)
                    </div>
                  </div>
                  <div class="booking-move-heading__content-footer-right">
                    <span
                      class="iconify"
                      data-icon="ri:medal-2-fill"
                      style="color: #ee6c4d"
                    ></span>
                    <span class="room-hosted-details-left-feature-item-name"
                      >Siêu chủ nhà</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="line-space"></div>
            <div class="booking-move-price-detail-wrapper">
              <div class="booking-move-price-detail-heading">Chi tiết giá</div>
              <div class="booking-move-price-detail-content">
                <div class="booking-move-price-detail-content-wrapper">
                  <div class="booking-move-price__label">
                    $<span id="booking-move-price__room-price">15</span>
                    x
                    <div id="booking-move-price__days">2 đêm</div>
                  </div>
                  <div class="booking-box-price__label">
                    $<span id="booking-box-price__room-price-total">30</span>
                  </div>
                </div>
                <div class="booking-move-price-detail-content-wrapper">
                  <div class="booking-move-price__label">
                    <span class="booking-move-price__fee-service"
                      >Phí dịch vụ</span
                    >
                  </div>
                  <div class="booking-box-price__label">
                    $<span id="booking-box-price__fee-service-total">5</span>
                  </div>
                </div>
                <div
                  class="
                    booking-move-price-detail-content-wrapper
                    none_discount
                  "
                >
                  <div class="booking-move-price__label">
                    <span class="booking-move-price__discount">Giảm giá</span>
                  </div>
                  <div class="booking-box-price__label">
                    $
                    <div id="booking-box-price__discount-total">-10</div>
                  </div>
                </div>
                <div class="booking-move-price-detail-content-wrapper">
                  <div class="booking-move-price__label">
                    <span class="booking-move-price__total">Tổng</span>
                  </div>
                  <div class="booking-box-price__label">
                    $<span id="booking-box-price__total-total">35</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/booking.js"></script>
    <script src="/node_modules/moment/moment.js"></script>
    <script>
      var format = "DD-MM-YYYY";
      var today = moment();
      today.subtract(1, "days").format(format);

      const disallowedDates = [["2001-01-01", today]];
      var picker = new Litepicker({
        element: document.getElementById("booking-checkin"),
        singleMode: false,
        numberOfColumns: 2,
        numberOfMonths: 2,
        format: "DD/MM/YYYY",
        lockDays: disallowedDates,
        autoApply: false,
        tooltipText: {
          one: "night",
          other: "nights",
        },
        tooltipNumber: (totalDays) => {
          return totalDays;
        },
      });

      $(".booking-content-edit-date").click(function (e) {
        picker.show();
        var date = 0;

        picker.on("selected", (date1, date2) => {
          var start = picker.getStartDate().getTime();
          var end = picker.getEndDate().getTime();
          const oneDay = 1000 * 60 * 60 * 24;
          const diffInTime = date2.getTime() - date1.getTime();
          const diffInDays = Math.round(diffInTime / oneDay);
          document.getElementById("booking-move-price__days").innerHTML =
            diffInDays + 1 + " đêm";
          var price_room = parseFloat(
            document.getElementById("booking-move-price__room-price").innerHTML
          );
          var fee = parseFloat(
            document.getElementById("booking-box-price__fee-service-total")
              .innerHTML
          );
          document.getElementById("booking-box-price__total-total").innerHTML =
            price_room * (diffInDays + 1) + fee;
          document.getElementById(
            "booking-box-price__room-price-total"
          ).innerHTML = price_room * (diffInDays + 1);
        });
      });
    </script>
  </body>
  <footer id="footer"></footer>
</html>
