<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Booking</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/node_modules/lightpick/css/lightpick.css"
    />
    <!-- CSS -->

    <link rel="stylesheet" href="/styles/root.css" />
    <link rel="stylesheet" href="/styles/grid.css" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>

  <body>
    <div id="layout">
      <!-- top nav -->
      <div class="top-nav">
        <div class="container">
          <div class="nav">
            <div class="nav-content">
              <a href="" class="logo">Travel Booking</a>
              <div class="nav-menu">
                <a href="" class="nav-menu__btn">Hỗ trợ</a>
                <a href="/view/login.html" class="nav-menu__btn">Đăng kí</a>
                <a href="/view/login.html" class="nav-menu__btn">Đăng nhập</a>
              </div>
            </div>
            <div id="nav-mode" class="nav-mode">
              <span href="" class="nav-mode__btn-hotel active">Khách sạn</span>
              <spanp href="" class="nav-mode__btn-hotel">Vé máy bay</spanp>
              <span href="" class="nav-mode__btn-hotel">Tour và sự kiện</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end top nav -->

      <!-- Main Content -->

      <div class="container">
        <!-- Search bar -->
        <div class="row">
          <div class="col-4 col-md-4 col-sm-12">
            <div class="box box-outline">
              <div class="location-search" id="location-search">
                <span
                  class="iconify search-bar-icons"
                  data-icon="ci:location"
                ></span>
                <div class="location-search-toggle">
                  <label for="location-search-input" class="search-bar__label"
                    >Điểm đến</label
                  >
                  <input
                    class="location-search-input input"
                    type="text"
                    placeholder="Thành phố, khách sạn, điểm đến"
                    autocomplete="off"
                    id="location-search-input"
                    value
                    class
                  />
                </div>
                <div
                  id="location-search-select-list"
                  class="location-search-select-list"
                >
                  <div class="location-search-select-label">
                    Địa điểm nổi bật
                  </div>
                  <button
                    id="location-search-suggest-1"
                    class="location-search-select-wrapper"
                  >
                    <div class="location-search-select-wrapper__icons">
                      <span
                        class="iconify location-search-select-icons"
                        data-icon="ci:location"
                      ></span>
                    </div>
                    <div class="location-search-select-wrapper__content">
                      <div
                        class="location-search-select-wrapper__content__title"
                      >
                        Đà nẵng
                      </div>
                      <div
                        class="
                          location-search-select-wrapper__content__sub-title
                        "
                      >
                        Địa điểm
                      </div>
                    </div>
                  </button>
                  <button
                    id="location-search-suggest-2"
                    class="location-search-select-wrapper"
                  >
                    <div class="location-search-select-wrapper__icons">
                      <span
                        class="iconify location-search-select-icons"
                        data-icon="icon-park-outline:hotel"
                      ></span>
                    </div>
                    <div class="location-search-select-wrapper__content">
                      <div
                        class="location-search-select-wrapper__content__title"
                      >
                        Sheraton
                      </div>
                      <div
                        class="
                          location-search-select-wrapper__content__sub-title
                        "
                      >
                        Khách sạn
                      </div>
                    </div>
                  </button>
                  <button
                    id="location-search-suggest-3"
                    class="location-search-select-wrapper"
                  >
                    <div class="location-search-select-wrapper__icons">
                      <span
                        class="iconify location-search-select-icons"
                        data-icon="icon-park-outline:hotel"
                      ></span>
                    </div>
                    <div class="location-search-select-wrapper__content">
                      <div
                        class="location-search-select-wrapper__content__title"
                      >
                        Amannoi
                      </div>
                      <div
                        class="
                          location-search-select-wrapper__content__sub-title
                        "
                      >
                        Khu nghỉ dưỡng
                      </div>
                    </div>
                  </button>
                  <button
                    id="location-search-suggest-4"
                    class="location-search-select-wrapper"
                  >
                    <div class="location-search-select-wrapper__icons">
                      <span
                        class="iconify location-search-select-icons"
                        data-icon="ci:location"
                      ></span>
                    </div>
                    <div class="location-search-select-wrapper__content">
                      <div
                        class="location-search-select-wrapper__content__title"
                      >
                        Đà nẵng
                      </div>
                      <div
                        class="
                          location-search-select-wrapper__content__sub-title
                        "
                      >
                        Địa điểm
                      </div>
                    </div>
                  </button>
                  <button
                    id="location-search-suggest-5"
                    class="location-search-select-wrapper"
                  >
                    <div class="location-search-select-wrapper__icons">
                      <span
                        class="iconify location-search-select-icons"
                        data-icon="ci:location"
                      ></span>
                    </div>
                    <div class="location-search-select-wrapper__content">
                      <div
                        class="location-search-select-wrapper__content__title"
                      >
                        Đà nẵng
                      </div>
                      <div
                        class="
                          location-search-select-wrapper__content__sub-title
                        "
                      >
                        Địa điểm
                      </div>
                    </div>
                  </button>
                  <button
                    id="location-search-suggest-6"
                    class="location-search-select-wrapper"
                  >
                    <div class="location-search-select-wrapper__icons">
                      <span
                        class="iconify location-search-select-icons"
                        data-icon="ci:location"
                      ></span>
                    </div>
                    <div class="location-search-select-wrapper__content">
                      <div
                        class="location-search-select-wrapper__content__title"
                      >
                        Đà nẵng
                      </div>
                      <div
                        class="
                          location-search-select-wrapper__content__sub-title
                        "
                      >
                        Địa điểm
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 col-md-2 col-sm-6">
            <div class="date-picker">
              <span
                class="iconify search-bar-icons_date"
                data-icon="bx:bx-calendar-event"
              ></span>
              <div class="date-picker-search-toggle">
                <span
                  class="iconify search-bar-icons_date"
                  data-icon="bx:bx-calendar-event"
                  data-height="25"
                  data-width="25"
                ></span>
                <label for="check_in" class="search-bar__label_date"
                  >Nhận phòng</label
                >
                <input
                  placeholder="dd/mm/yyyy"
                  value="c"
                  class="date-picker-input-date"
                  type="text"
                  id="check_in"
                />
              </div>
            </div>
          </div>
          <div class="col-2 col-md-2 col-sm-6">
            <div class="date-picker">
              <span
                class="iconify search-bar-icons_date"
                data-icon="bx:bx-calendar-event"
                data-height="25"
                data-width="25"
              ></span>
              <div class="date-picker-toggle">
                <label for="check_out" class="search-bar__label_date"
                  >Trả phòng</label
                >
                <input
                  placeholder="dd/mm/yyyy"
                  class="date-picker-input-date"
                  type="text"
                  id="check_out"
                />
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3 col-sm-12">
            <div class="box box-outline box-hover">
              <div class="room-people" id="room-people">
                <span
                  class="iconify search-bar-icons"
                  data-icon="mdi:human-male-male"
                ></span>
                <div class="room-people-search-toggle">
                  <label for="room-people_btn" class="search-bar__label"
                    >Số người</label
                  >
                  <input
                    disabled
                    type="text"
                    value="1 Khách"
                    id="room-people_btn"
                    class="room-people_btn"
                  />
                </div>
                <div class="room-people-number">
                  <div class="room-people-number-warning">
                    Vui lòng nhập tuổi trẻ em.
                  </div>
                  <div class="room-people-number-wrapper">
                    <div class="room-people__label">Người lớn</div>
                    <div class="room-people__btn">
                      <div class="room-people__btn-adult-sub">
                        <span
                          class="iconify room-people-icon"
                          data-icon="carbon:subtract-alt"
                        ></span>
                      </div>
                      <div
                        id="room-people__count--adult"
                        class="room-people__count--adult"
                      >
                        1
                      </div>
                      <div class="room-people__btn-adult-add">
                        <span
                          class="iconify room-people-icon"
                          data-icon="fluent:add-circle-24-regular"
                        ></span>
                      </div>
                    </div>
                  </div>
                  <div class="room-people-number-wrapper">
                    <div class="room-people__label">Trẻ em</div>
                    <div class="room-people__btn">
                      <div class="room-people__btn-child-sub">
                        <span
                          class="iconify room-people-icon"
                          data-icon="carbon:subtract-alt"
                        ></span>
                      </div>
                      <div
                        id="room-people__count--child"
                        class="room-people__count--child"
                      >
                        0
                      </div>
                      <div class="room-people__btn-child-add">
                        <span
                          class="iconify room-people-icon"
                          data-icon="fluent:add-circle-24-regular"
                        ></span>
                      </div>
                    </div>
                  </div>
                  <div class="room-people-number-wrapper__child">
                    <select
                      name="quantity_people"
                      class="room-people-age-child"
                    >
                      <option selected value="0">Dưới 1 tuổi</option>
                      <option value="1">1 tuổi</option>
                      <option value="2">2 tuổi</option>
                      <option value="3">3 tuổi</option>
                      <option value="4">4 tuổi</option>
                      <option value="5">5 tuổi</option>
                      <option value="6">6 tuổi</option>
                      <option value="7">7 tuổi</option>
                      <option value="8">8 tuổi</option>
                      <option value="9">9 tuổi</option>
                      <option value="10">10 tuổi</option>
                      <option value="11">11 tuổi</option>
                      <option value="12">12 tuổi</option>
                      <option value="13">13 tuổi</option>
                      <option value="14">14 tuổi</option>
                      <option value="15">15 tuổi</option>
                      <option value="16">16 tuổi</option>
                      <option value="17">17 tuổi</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1 col-md-1 col-sm-12">
            <button class="box-fill btn-search box-outline">
              <span
                class="iconify search-bar-icons__search"
                data-icon="bytesize:search"
              ></span>
            </button>
          </div>
        </div>
        <!-- End search bar -->
      </div>

      <!-- body content -->

      <div class="body-content">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <div class="row">
                <div class="col-12">
                  <button class="box-map">
                    <div class="map-wrapper">
                      <div class="map-image"></div>
                      <div class="map-lable">Bản đồ</div>
                    </div>
                  </button>
                </div>

                <div class="col-12">
                  <div class="line-spacing"></div>
                </div>
                <div class="col-12">
                  <div class="filter-product-container">
                    <div class="filter-product-header">Lọc theo</div>
                    <div class="filter-product-label">Xếp hạng sao</div>
                    <div class="filter-product-star-wrapper">
                      <div class="filter-product-star-wrapper-input">
                        <input type="checkbox" id="star-1" value="one" />
                        <label class="star-label-input" for="star-1"
                          ><span class="star-wrapper"> 1★ </span>
                        </label>
                      </div>
                      <div class="filter-product-star-wrapper-input">
                        <input type="checkbox" id="star-2" value="one" />
                        <label class="star-label-input" for="star-2"
                          ><span class="star-wrapper"> 2★ </span>
                        </label>
                      </div>
                      <div class="filter-product-star-wrapper-input">
                        <input type="checkbox" id="star-3" value="one" />
                        <label class="star-label-input" for="star-3"
                          ><span class="star-wrapper"> 3★ </span>
                        </label>
                      </div>
                      <div class="filter-product-star-wrapper-input">
                        <input type="checkbox" id="star-4" value="one" />
                        <label class="star-label-input" for="star-4"
                          ><span class="star-wrapper"> 4★ </span>
                        </label>
                      </div>
                      <div class="filter-product-star-wrapper-input">
                        <input type="checkbox" id="star-5" value="one" />
                        <label class="star-label-input" for="star-5"
                          ><span class="star-wrapper"> 5★ </span>
                        </label>
                      </div>
                    </div>
                    <div class="filter-product-label">Ngân sách</div>
                    <div class="filter-product-budget-wrapper">
                      <input type="checkbox" id="budget-1" value="under_1m" />
                      <label for="budget-1">Dưới 1.000.000 ₫</label><br />
                      <input type="checkbox" id="budget-2" value="1m_to_2m" />
                      <label for="budget-2">1.000.000 ₫ đến 2.000.000 ₫</label
                      ><br />
                      <input type="checkbox" id="budget-3" value="2m_to_5m" />
                      <label for="budget-3">2.000.000 ₫ đến 5.000.000 ₫</label
                      ><br />
                      <input type="checkbox" id="budget-4" value="5m_to_10m" />
                      <label for="budget-4">5.000.000 ₫ đến 10.000.000 ₫</label
                      ><br />
                      <input type="checkbox" id="budget-5" value="over_10m" />
                      <label for="budget-5">Hơn 10.00.000 ₫</label><br />
                    </div>
                    <div class="filter-product-label">Xếp hạng của khách</div>
                    <div class="filter-product-rank-wrapper">
                      <div class="filter-product-rank-radio">
                        <input
                          type="radio"
                          id="rank-1"
                          name="rank"
                          value="any"
                          checked
                        />
                        <label for="rank-1">Bất kỳ</label><br />
                      </div>
                      <div class="filter-product-rank-radio">
                        <input
                          type="radio"
                          id="rank-2"
                          name="rank"
                          value="over_4.5"
                        />
                        <label for="rank-2">Tuyệt vời 4.5 +</label><br />
                      </div>
                      <div class="filter-product-rank-radio">
                        <input
                          type="radio"
                          id="rank-3"
                          name="rank"
                          value="over_4"
                        />
                        <label for="rank-3">Rất tốt 4 +</label><br />
                      </div>
                      <div class="filter-product-rank-radio">
                        <input
                          type="radio"
                          id="rank-4"
                          name="rank"
                          value="over_3"
                        />
                        <label for="rank-4">Tốt 3 +</label><br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-7"></div>
                <form class="col-5 product-sort-select-container">
                  <div id="product-sort" class="product-sort-select-wrapper">
                    <label class="product-sort-select__label" for="sort">
                      Sắp xếp theo thứ tự
                    </label>
                    <select name="sort" id="sort">
                      <option selected value="recommended">Đề xuất</option>
                      <option value="price_low_to_high">Giá tăng dần</option>
                      <option value="price_high_to_low">Giá giãm dần</option>
                      <option value="property_class">Xếp hạng sao</option>
                      <option value="review_high">Đánh giá cao nhất</option>
                    </select>
                    <span
                      class="iconify product-sort-icons"
                      data-icon="akar-icons:chevron-down"
                      data-width="22"
                      data-height="22"
                    ></span>
                  </div>
                </form>
                <div class="list-product-container">
                  <div id="product-1" class="product-container">
                    <a href="#">
                      <div class="row">
                        <div class="col-4">
                          <div class="product-container-img">
                            <div class="product-img"></div>
                          </div>
                        </div>
                        <div class="col-8">
                          <div class="product-container-info">
                            <div class="product-container-info-main">
                              <div class="product-info-header">
                                <h2>Khách sạn Banya Tree Lăng Cô</h2>
                              </div>
                              <div class="product-info-rank">
                                <span
                                  class="iconify product-info-rank__icon"
                                  data-icon="carbon:star-filled"
                                ></span>
                                <span
                                  class="iconify product-info-rank__icon"
                                  data-icon="carbon:star-filled"
                                ></span>
                                <span
                                  class="iconify product-info-rank__icon"
                                  data-icon="carbon:star-filled"
                                ></span>
                                <span
                                  class="iconify product-info-rank__icon"
                                  data-icon="carbon:star-filled"
                                ></span>
                                <span
                                  class="iconify product-info-rank__icon"
                                  data-icon="carbon:star-filled"
                                ></span>
                              </div>
                              <div class="product-info-location">
                                <span
                                  class="iconify product-info-location-icon"
                                  data-icon="ci:location"
                                ></span>
                                <span> Languna Lăng Cô </span>
                              </div>
                              <div class="product-info-special-warapper">
                                <div class="product-info-special">
                                  <span
                                    class="iconify product-info-special-icon"
                                    data-icon="akar-icons:check"
                                  ></span>
                                  <span> Quang cảnh biển </span>
                                </div>
                                <div class="product-info-special">
                                  <span
                                    class="iconify product-info-special-icon"
                                    data-icon="akar-icons:check"
                                  ></span>
                                  <span> Có hồ bơi riêng </span>
                                </div>
                              </div>
                              <div class="product-info-rate">
                                <strong>9/10</strong> Tuyệt vời
                                <span>(200 đánh giá)</span>
                              </div>
                            </div>
                            <div class="product-container-info-price">
                              <div class="product-info-price">
                                <div class="product-info-price-warapper">
                                  <div class="product-info-price__old">
                                    12.000.000 ₫
                                  </div>
                                  <div class="product-info-price__deal">
                                    <span>-15%</span>
                                  </div>
                                </div>
                                <div class="product-info-price__current">
                                  10.000.000 ₫
                                </div>
                                <div class="product-info-price__sublabel">
                                  Mỗi đêm
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div id="product-2" class="product-container">
                    <a href="#">
                      <div class="row">
                        <div class="col-4">
                          <div class="product-container-img">
                            <div class="product-img"></div>
                          </div>
                        </div>
                        <div class="col-8">
                          <div class="product-container-info">
                            <div class="product-container-info-main">
                              <div class="product-info-header">
                                <h2>Khách sạn Banya Tree Lăng Cô</h2>
                              </div>
                              <div class="product-info-rank">
                                <span
                                  class="iconify product-info-rank__icon"
                                  data-icon="carbon:star-filled"
                                ></span>
                                <span
                                  class="iconify product-info-rank__icon"
                                  data-icon="carbon:star-filled"
                                ></span>
                                <span
                                  class="iconify product-info-rank__icon"
                                  data-icon="carbon:star-filled"
                                ></span>
                                <span
                                  class="iconify product-info-rank__icon"
                                  data-icon="carbon:star-filled"
                                ></span>
                                <span
                                  class="iconify product-info-rank__icon"
                                  data-icon="carbon:star-filled"
                                ></span>
                              </div>
                              <div class="product-info-location">
                                <span
                                  class="iconify product-info-location-icon"
                                  data-icon="ci:location"
                                ></span>
                                <span> Languna Lăng Cô </span>
                              </div>
                              <div class="product-info-special-warapper">
                                <div class="product-info-special">
                                  <span
                                    class="iconify product-info-special-icon"
                                    data-icon="akar-icons:check"
                                  ></span>
                                  <span> Quang cảnh biển </span>
                                </div>
                                <div class="product-info-special">
                                  <span
                                    class="iconify product-info-special-icon"
                                    data-icon="akar-icons:check"
                                  ></span>
                                  <span> Có hồ bơi riêng </span>
                                </div>
                              </div>
                              <div class="product-info-rate">
                                <strong>9/10</strong> Tuyệt vời
                                <span>(200 đánh giá)</span>
                              </div>
                            </div>
                            <div class="product-container-info-price">
                              <div class="product-info-price">
                                <div class="product-info-price-warapper">
                                  <div class="product-info-price__old">
                                    12.000.000 ₫
                                  </div>
                                  <div class="product-info-price__deal">
                                    <span>-15%</span>
                                  </div>
                                </div>
                                <div class="product-info-price__current">
                                  10.000.000 ₫
                                </div>
                                <div class="product-info-price__sublabel">
                                  Mỗi đêm
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end body content -->

    <!-- End main content -->

    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="/node_modules/lightpick/lightpick.js"></script>
    <script>
      var picker = new Lightpick({
        field: document.getElementById("check_in"),
        secondField: document.getElementById("check_out"),
        singleDate: false,
        onSelect: function (start, end) {
          var str = "";
          str += start ? start.format("Do MMMM YYYY") + " to " : "";
          str += end ? end.format("Do MMMM YYYY") : "...";
        },
      });
    </script>
  </body>
</html>
